body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:802px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:607px;
  width:100px;
  height:60px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:634px;
  width:0px;
  height:0px;
}
#u884_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:12px;
  height:8px;
}
#u884_seg1 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-319px;
  width:8px;
  height:323px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:-42px;
  top:-164px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:317px;
  width:0px;
  height:0px;
}
#u886_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:8px;
  height:28px;
}
#u886_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:107px;
  height:8px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:265px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:637px;
  width:0px;
  height:0px;
}
#u890_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u890_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-3px;
  width:8px;
  height:7px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:499px;
  width:0px;
  height:0px;
}
#u892_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:562px;
}
#u892_seg1 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:554px;
  width:5px;
  height:8px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:272px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:541px;
  width:0px;
  height:0px;
}
#u894_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:511px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:703px;
  width:0px;
  height:0px;
}
#u898_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u898_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-4px;
  width:8px;
  height:100px;
}
#u898_seg2 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:88px;
  width:14px;
  height:8px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:765px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:1034px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:877px;
  width:0px;
  height:0px;
}
#u904_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:195px;
}
#u904_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:187px;
  width:104px;
  height:8px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:138px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1364px;
  width:100px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1055px;
  width:0px;
  height:0px;
}
#u908_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u908_seg1 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-4px;
  width:8px;
  height:347px;
}
#u908_seg2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:335px;
  width:24px;
  height:8px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:295px;
  width:0px;
  height:0px;
}
#u910_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u910_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-129px;
  width:8px;
  height:133px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:165px;
  width:0px;
  height:0px;
}
#u912_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:143px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:239px;
  width:0px;
  height:0px;
}
#u916_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u916_seg1 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-4px;
  width:8px;
  height:5px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:215px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:295px;
  width:0px;
  height:0px;
}
#u920_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u920_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:5px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:270px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:295px;
  width:0px;
  height:0px;
}
#u924_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u924_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-4px;
  width:8px;
  height:124px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:350px;
  width:0px;
  height:0px;
}
#u926_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u926_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:5px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:325px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:413px;
  width:0px;
  height:0px;
}
#u930_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u930_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:5px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:391px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:541px;
  width:0px;
  height:0px;
}
#u934_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u934_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-75px;
  width:8px;
  height:79px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:465px;
  width:0px;
  height:0px;
}
#u936_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u936_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:5px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:446px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:541px;
  width:0px;
  height:0px;
}
#u940_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u940_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:83px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:541px;
  width:0px;
  height:0px;
}
#u942_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u942_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-3px;
  width:8px;
  height:7px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:511px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:622px;
  width:0px;
  height:0px;
}
#u946_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:597px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:238px;
  width:0px;
  height:0px;
}
#u950_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u950_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-33px;
  width:8px;
  height:37px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:203px;
  width:0px;
  height:0px;
}
#u952_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u952_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:238px;
  width:0px;
  height:0px;
}
#u954_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u954_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-4px;
  width:8px;
  height:25px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:257px;
  width:0px;
  height:0px;
}
#u956_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u956_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:5px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:181px;
  width:85px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:81px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:239px;
  width:85px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:81px;
  word-wrap:break-word;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:795px;
  width:0px;
  height:0px;
}
#u962_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u962_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-119px;
  width:8px;
  height:123px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:677px;
  width:0px;
  height:0px;
}
#u964_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u964_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:652px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:735px;
  width:0px;
  height:0px;
}
#u968_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u968_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:715px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:795px;
  width:0px;
  height:0px;
}
#u972_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u972_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:770px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:795px;
  width:0px;
  height:0px;
}
#u976_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u976_seg1 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-4px;
  width:8px;
  height:132px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:856px;
  width:0px;
  height:0px;
}
#u978_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u978_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:832px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:921px;
  width:0px;
  height:0px;
}
#u982_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u982_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:898px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1064px;
  width:0px;
  height:0px;
}
#u986_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u986_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-82px;
  width:8px;
  height:86px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:983px;
  width:0px;
  height:0px;
}
#u988_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u988_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:962px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:1057px;
  width:0px;
  height:0px;
}
#u992_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u992_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1034px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:1064px;
  width:0px;
  height:0px;
}
#u996_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u996_seg1 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-4px;
  width:8px;
  height:118px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1113px;
  width:0px;
  height:0px;
}
#u998_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u998_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1089px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1179px;
  width:0px;
  height:0px;
}
#u1002_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1002_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:8px;
  height:13px;
}
#u1002_seg2 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:9px;
  height:8px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1151px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1394px;
  width:0px;
  height:0px;
}
#u1006_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u1006_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-150px;
  width:8px;
  height:154px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:1244px;
  width:0px;
  height:0px;
}
#u1008_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u1008_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1220px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1289px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:1310px;
  width:0px;
  height:0px;
}
#u1014_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u1014_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:1380px;
  width:0px;
  height:0px;
}
#u1016_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u1016_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1355px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1394px;
  width:0px;
  height:0px;
}
#u1020_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u1020_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-4px;
  width:8px;
  height:120px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1453px;
  width:0px;
  height:0px;
}
#u1022_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u1022_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1433px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:81px;
  word-wrap:break-word;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:1509px;
  width:0px;
  height:0px;
}
#u1026_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u1026_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:46px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:1488px;
  width:85px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
